In [2]:
import sqlite3

def connect():
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS book (id integer, title text, author text, year integer, isbn integer)")
    conn.commit()
    conn.close()
    
def insert1(id,title,author,year,isbn):
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute('INSERT INTO book VALUES (?,?,?,?,?)',(id,title,author,year,isbn))
    conn.commit()
    conn.close()
    
def view():
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM book")
    rows = cur.fetchall()
    conn.close()
    return rows

def search(ID="",title="",author="",year="",isbn=""):
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM book WHERE ID=? OR title=? OR author=? OR year=? OR isbn=?",(ID,title,author,year,isbn))
    rows = cur.fetchall()
    conn.close()
    return rows

def delete1(id):
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute("DELETE FROM book WHERE id=?",(id,))
    conn.commit()
    conn.close()
    
def update(id,title,author,year,isbn):
    conn = sqlite3.connect("books.db")
    cur = conn.cursor()
    cur.execute("UPDATE book SET title=?,author=?,year=?,isbn=? WHERE id=?",(title,author,year,isbn,id))
    conn.commit()
    conn.close()

connect()
# delete(8976)
# insert1(1,'THE OCEAN','ANKIT',8976,795654)
# update(2,'THE SEA', 'ROSHAN', 2465, 795654)
print(view())
# print(search(author="ANKIT"))

[(5, 'VILLAGE', 'SUMITH', 1978, 87945), (2, 'MOUNTAIN', 'DEEPAK', 8796, 78458), (1, 'THE OCEAN', 'ANKIT', 8976, 10)]